@import '../../scss/base.scss';

.ItemDetail {

  &__close {
    width: 2rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &__img {
    max-width: 100%;
  }

  &__div {

  }
}