@import '../../scss/base.scss';

.Item {
  width: 90%;
  min-height: 15rem;
  @include flex(row, flex-start, center);

  &__img {
    height: 200px;
    width: 200px;
    margin-right: 4rem;
  }

  &__div {
    background: $color-salmon-light;
    padding: 2rem;
  }
}