@import "../../scss/base.scss";

.link {
  width: 100%;
}

.Item {
  width: 100%;
  max-width: 1000px;
  min-height: 15rem;
  @include flex(row, space-evenly, center);
  border-radius: 20px;

  // These ones do not function yet
  // -webkit-box-shadow: -4px 10px 25px 2px rgba(0, 0, 0, 0);
  // box-shadow: -4px 10px 25px 2px rgba(0, 0, 0, 0);
  // animation: 1s ease-in-out all;

  &:hover {
    -webkit-box-shadow: -4px 10px 25px 2px rgba(0, 0, 0, 0.67);
    box-shadow: -4px 10px 25px 2px rgba(0, 0, 0, 0.67);
  }

  &__img {
    width: 500px;
  }

  &__div {
    background: $color-claro;
    border-radius: 20px;
    padding: 2rem;
    max-width: 30%;

    .Item__link {
      display: none;

      @include breakpoint-down(medium);
    }

    .button {
      background-color: $color-orange;
      color: $color-oscuro;
    }
  }
}
