@import '../../scss/base';

.NavBar {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  flex-flow: column;
  grid-area: 1/1/2/2;
  
  z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100vh;
  background: $color-ddl;
  @include font($font-m, bold, normal);
  
  &__img {
    max-width: 100px;
  }
  
  &__links {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    flex-flow: column;
  }

  &__widgets {
    @include flex(column, space-evenly, center);
    min-height: 200px;

    .NavBar__widgetsImg {
      max-width: 90px;
    }
  }

}