@import 'scss/base.scss';

.App {
  min-height: 100vh; 
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  background-color: lightblue;

  .container {
    grid-area: 1/2/2/3;
  }
}