@import "../../scss/base.scss";

.ItemCountContainer {
  min-width: 280px;
  flex-direction: row;
  align-items: center;
  color: $color-oscuro;

  .h3 {
    @include font($font-l, bold, none);
    display: inline-block;
    padding: 2rem;
  }

  &__modifier {
    content: ""; // De relleno
  }
}
