// Font Sizes
$font-s: 0.75rem; // 12px
$font-m: 1rem; // 16px
$font-xm: 1.5rem; // 20px
$font-l: 2rem; // 32px
$font-xl: 3rem; // 48px

// Reset Colors
$color-oscuro: #1a1a1a;
$color-claro: #fffdf8;
$color-gris-oscuro: #272623ec;

// Primary Colors
$color-orange: #ff8000;
$color-ddl: #ffffcc;
$color-turquesa: #8ab0bc;
$color-salmon: #dfcdcd;

// Secondary Colors
$color-turquesa-light: #8ab0bcbb;
$color-salmon-light: #dfcdcdbb;
$color-alerta: #AE0F09;
$color-positivo: #438A2E;

// Other Elements
$box-shadow: -5px 5px 20px rgba(0, 0, 0, .8);